.userMsg{
    float: right;
    margin-top: 20px;
    max-width: 75%;
    width: fit-content;
}
.userMsg p{
    color:rgb(255, 255, 255);
    background-color: rgb(28,46,70);
    padding: .5rem 1rem;
    border-radius: 1.25rem 1.25rem 0 1.25rem ;
}
.userMsg small{
    color: gray;
    float: right;
}

/* --------Client Msg------------ */
.clientMsg{
    margin-top: 20px;
    max-width: 75%;
    width: fit-content;
}

.clientMsg p{
    color:rgb(29, 29, 29);
    background-color: rgb(209, 209, 209);
    padding: .5rem 1rem;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
}
.clientMsg small{
    color: gray;
}